Repository ITSM-Project/SLASH-FE, pull requests merged in 2024-10, with the labels that each got.

#6 [FEAT]: user 대시보드 상단 구현
  package-lock.json
  package.json
  src/App.css
  src/App.js
  src/App.test.js
  src/assets/fonts/paybooc ExtraBold.ttf
  src/assets/fonts/paybooc Light.ttf
  src/assets/fonts/paybooc Medium.ttf
  src/assets/fonts/paybooc OTF Bold.otf
  src/assets/fonts/paybooc OTF Light.otf
  src/assets/fonts/payboocBold.ttf
  src/assets/fonts/payboocOTF Medium.otf
  src/assets/fonts/payboocOTFExtraBold.otf
  src/assets/fonts/paybooc_font/Font.css
  src/components/layout/content/Content.css
  src/components/layout/content/Content.js
  src/components/layout/sidebar/ContactManagerSidebar.js
  src/components/layout/sidebar/RequestManagerSidebar.js
  src/components/layout/sidebar/Sidebar.css
  src/components/layout/sidebar/UserSidebar.js
  src/index.css
  src/index.js
  src/pages/user/UserMain.css
  src/pages/user/UserMain.js
  src/pages/user/chart/GradeChart.css
  src/pages/user/chart/GradeChart.js
  src/pages/user/dropdown/DateSelectBar.js
  src/pages/user/dropdown/DateSelectBox.css
  src/reportWebVitals.js
  src/setupTests.js
Labels: 💄STYLE

#12 ♻️ REFACTOR: 프론트 구조 변경
  src/components/feature/chart/GradeChart.css
  src/components/feature/chart/GradeChart.js
  src/components/layout/content/contractManager/ContractManagerMainContent.js
  src/components/layout/content/user/RequestSelectTop/RequesstSelectTop.css
  src/components/layout/content/user/RequestSelectTop/RequestSelectTop.js
  src/components/layout/content/user/UserMainContent.js
  src/components/layout/content/user/dashBoard/dashBoardTop/DashBoardTop.css
  src/components/layout/content/user/dashBoard/dashBoardTop/DashBoardTop.js
  src/components/layout/requestManager/RequestManagerMainContent.js.js
  src/pages/contractManager/ContractManagerMain.js
  src/pages/requestManager/RequestManagerMain.js
  src/pages/user/BottomContainer.js
  src/pages/user/BottomSection.css
  src/pages/user/UserMain.js
  src/services/api/authService.js
  src/services/api/userService.js
  src/shared/Router.js
Labels: ♻️REFACTOR

#17 [FEAT]: 유저의 요청 관리 하단 컴포넌트 생성
  src/assets/fonts/payboocOTFBold.otf
  src/assets/fonts/paybooc_font/Font.css
  src/components/labels/processStatus/ProcessStatusLabel.js
  src/components/labels/taskDetail/TaskDetailLabel.js
  src/components/layout/content/user/requestManagement/RequestManagementBottom/RequestManageBottom.css
  src/components/layout/content/user/requestManagement/RequestManagementBottom/RequestManageBottom.js
  src/styles/Content.css
  src/styles/Label.css
Labels: ✨FEAT, 💄STYLE

#16 [STYLE]: user 요청 관리 화면 상단 구현
  src/assets/images/check.png
  src/assets/images/processing.png
  src/assets/images/stamp.png
  src/assets/images/static.png
  src/components/layout/content/user/requestManagement/RequestManagementContent.js
  src/components/layout/content/user/requestManagement/RequestManagementTop/RequestManagementTop.css
  src/components/layout/content/user/requestManagement/RequestManagementTop/RequestManagementTop.js
Labels: 💄STYLE

#23 [STYLE]: "IBM Plex Sans KR"로 글씨체 변경
  src/assets/fonts/paybooc ExtraBold.ttf
  src/assets/fonts/paybooc Light.ttf
  src/assets/fonts/paybooc Medium.ttf
  src/assets/fonts/paybooc OTF Light.otf
  src/assets/fonts/payboocBold.ttf
  src/assets/fonts/payboocOTF Medium.otf
  src/assets/fonts/payboocOTFBold.otf
  src/assets/fonts/payboocOTFExtraBold.otf
  src/assets/fonts/paybooc_font/Font.css
  src/components/layout/content/user/dashBoard/dashBoardTop/DashBoardTop.css
  src/components/layout/content/user/requestManagement/RequestManagementTop/RequestManagementTop.css
  src/components/layout/content/user/requestManagement/RequestManagementTop/RequestManagementTop.js
  src/index.js
  src/styles/Content.css
  src/styles/Sidebar.css
Labels: 💄STYLE

#20 [FEAT]: 요청 등록 모달창 화면 + API 연결
  package-lock.json
  package.json
  src/components/common/CheckBox.js
  src/components/feature/request/CreateRequest.js
  src/components/feature/request/CreateRequestForm.css
  src/components/feature/request/CreateRequestForm.js
  src/components/feature/request/RequestDropdown.css
  src/components/feature/request/RequestDropdown.js
  src/components/layout/content/user/requestManagement/RequestManagementBottom/RequestManageBottom.js
  src/service/api/userService.js
  src/services/api/authService.js
  src/services/api/userService.js
  src/styles/CheckBox.css
Labels: ✨FEAT, 🔥REMOVE, 💄STYLE

#36 [FEAT]: 3가지 라벨 개발
  src/components/labels/processStatus/ProcessStatusLabel.js
  src/components/labels/request/RequestLabel.js
  src/components/labels/taskDetail/TaskDetailLabel.js
  src/components/layout/content/user/requestManagement/RequestManagementBottom/RequestManageBottom.css
  src/components/layout/content/user/requestManagement/RequestManagementBottom/RequestManageBottom.js
  src/components/layout/content/user/requestManagement/RequestManagementTop/RequestManagementTop.js
  src/styles/Label.css
  src/styles/Sidebar.css
Labels: ✨FEAT, 💄STYLE
